@import "../fonts/San-FranciscoPro/stylesheet.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap";

$SFProRegular: 'SF Pro Display';
$Poppins: 'Poppins';

$max-width: 1600px;
$middle-width: 1200px;
$tablet-width: 1024px;
$mobile-width: 480px;
$min-width: 320px;

$brand-pink: #C24BE7;
$brand-gray: #BDBDBD;
$brand-green: #68B78A;
$review-gray: #828282;